<h1 class="display-4 sub-title">Interests</h1>
<div id="interest-row" class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-4 interest-container">
        <i class="fas fa-gamepad fa-3x"></i>
        <span class="lead interest-text">Gaming</span>
      </div>
      <div class="col-sm-4 interest-container">
        <i class="fas fa-basketball-ball fa-3x"></i>
        <span class="lead interest-text">Basketball</span>
      </div>
      <div class="col-sm-4 interest-container">
        <i class="fas fa-walking fa-3x"></i>
        <span class="lead interest-text">Running</span>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>