<div class="row page-item-container" [id]="experience.companyId">
  <div class="col-lg-9">
    <div class="item-header">
      <h1 class="display-4 d-none d-sm-block">{{ experience.companyName }}</h1>
      <h1 class="lead d-sm-none company-name-sm">{{ experience.companyName }}</h1>
      <h4 class="lead company-role">{{ experience.companyRole }}</h4>
      <p class="lead">{{ experience.period }}</p>
    </div>
    <mat-card class="image-card">
      <img mat-card-image class="pad-image" [src]="experience.image.path" [alt]="experience.image.alt" [ngClass]="{ 'pad-image' : experience.image.isPadImage }">
    </mat-card>
    <div class="item-content">
      <p *ngFor="let item of experience.content">{{ item }}</p>
    </div>
  </div>
</div>