::ng-deep :root {
    --primary: #3f51b5;
    --accent: #ff4081; 
    --warn: #f44336; 
}

.avoid-wrap {
    display: inline-block;
}

mat-card.image-card {
    padding-bottom: 0px;
    margin-bottom: 1rem;
}

mat-card.image-card img.pad-image {
    padding: 32px;
}

.page-container {
    margin-bottom: 20px;
}

.page-item-container {
    padding: 24px 0px;
}

.item-content {
    text-align: justify;
    letter-spacing: 0.03125rem;
}

.sub-item-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sub-title {
    margin-bottom: 1rem;
}