mat-toolbar {
    justify-content: space-between;
}

mat-toolbar button {
    height: 100%;
    border-radius: 0px;
}

mat-toolbar button:focus {
    outline: none;
    box-shadow: none;
}

#top-bar-nav {
    height: 100%;
}

#top-bar-nav button.active {
    background: var(--accent);
}

#top-bar-menu {
    width: 100%;
    box-shadow: 4px 8px 10px rgba(0,0,0,0.2);
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 0;

    /* to overwrite default dropdown translation*/
    transform: translate3d(0px, 56px, 0px) !important;
}

.top-bar-menu-item {
    padding: 16px;
    cursor: pointer;
    color: black;
}

.top-bar-menu-item:not(.active):hover {
    background-color: rgba(0,0,0,0.1);
}

.active {
    background: var(--primary);
    color: white;
}