<div id="asia-risk-transfer-solutions" class="row page-item-container">
  <div class="col-lg-9">
    <div class="item-header">
      <h1 class="display-4 d-none d-sm-block">{{ achievement.title }}</h1>
      <h1 class="lead d-sm-none company-name-sm">{{ achievement.title }}</h1>
      <p class="lead">{{ achievement.period }}</p>
    </div>
    <mat-card class="image-card">
      <img mat-card-image [src]="achievement.image.path" [alt]="achievement.image.alt" [ngClass]="achievement.image.isPadImage ? 'pad-image' : ''">
    </mat-card>
    <div class="item-content">
      <p *ngFor="let item of achievement.content">{{ item }}</p>
    </div>
  </div>
</div>