<div class="container page-container">
  <app-page-header [pageHeader]="'About Me'"></app-page-header>

  <mat-divider></mat-divider>

  <div class="page-body">
    <div class="row page-item-container">
      <div class="col-lg-9">
        <div class="row">
          <div id="profile-picture-container" class="col-md-6">
            <div id="profile-picture"></div>
          </div>
          <div class="col-md-6">
            <p class="item-content lead" style="font-size: 2.5rem">Hi. I'm Ken!</p>
            <p class="item-content">I'm a software developer who is passionate about using applications to enrich user experience. I enjoy designing
              and building user-centric solutions that not only solves critical problems but also promotes software usability.
            </p>
            <p class="item-content">My expertise lies in web and mobile development. I'm also a strong believer in quality software design, and constantly
              seek to enhance my knowledge of software developement practices.
          </div>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row page-item-container">
      <div class="col-lg-9">
        <app-educations></app-educations>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row page-item-container">
      <div class="col-lg-9 ">
        <app-technical-skills></app-technical-skills>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row page-item-container">
      <div class="col-lg-9">
        <app-interests></app-interests>
      </div>
    </div>
  </div>
</div>